body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.am-navbar.top-bar .am-navbar-title {
    font-size: 1.75rem;
    color: #ffffff;
    -webkit-text-stroke: 2px #151515;
    text-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 15px #ffffff;
    font-weight: bold;
}

.am-navbar svg, .am-list-item {
    cursor: pointer;
}

.am-list-item .am-input-label.am-input-label-5 {
    width: 50%;
}

.gain {
    color: #33d033;
}

.lose {
    color: #d03333;
}

.pull-right {
    float: right;
}

.text-right {
    text-align: right;
}

.am-card-body {
    min-height: 28px;
}

.stock-name-small {
    position: absolute;
    top: 25px;
    right: 12px;
    color: #888;
}

.am-card-header-content {
    flex: auto;
}

.pre-market-price {
    color: #888;
    margin: 0 4px;
}

.StockList {
    padding-top: 45px;
    padding-bottom: 45px;
}

.am-navbar.top-bar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 -4px 16px #000000;
}

.am-navbar.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 12px 16px #000000;
}
